{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role</h1>

    <table class='table table-bordered table-striped table-hover'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Sifra uloge</th>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <th>Can read post</th>
                <td>{% if role.canRead %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Can read and write post</th>
                <td>{% if role.canReadWrite %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ime uloge</th>
                <td>{{ role.hname }}</td>
            </tr>            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('roles_edit', { 'id': role.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
