{% set strana = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
                        <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Portfolio</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li{% if strana =="news_index" %} class='active'{% endif %}>
                                <a href="{{ path('news_index') }}">Home</a>
                            </li>

                            <li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                     <a href="{{ path('logout') }}">Hello <strong>{{ app.user.username }}</strong> Logout</a>
                                {% else %}
                                     <a href="{{ path('login_form') }}">Login</a>
                                {% endif %}
                           </li>                            
                            <li{% if strana =="user_register" %} class='active'{% endif %}>
                                <a href="{{ path('user_register') }}">Registruj zaposlenog</a>
                            </li>
                            <li>
                                <a href="{{ path('kategorija_index') }}">Kategorije</a>
                            </li>                            
                            {% if is_granted('ROLE_NARUCILAC') %}
                                <li{% if strana =="index_placanje" %} class='active'{% endif %}>
                                    <a href="{{ path('index_placanje') }}">Uplata</a>
                                </li>                                
                            {% endif %}                            
                            <li{% if strana =="nesting_index" %} class='active'{% endif %}>
                                    <a href="{{ path('nesting_index') }}">Nesting</a>
                            </li>                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        {% if app.session.flashBag.has('success') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% block body %}
                    {% endblock %}

                    {% block footer %}
<br><br><br>
                        <footer class="well">
                            <p class="text-center">
                                &copy; Nikola Bodrozic
                            </p>
                        </footer>
                    
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="/js/jquery.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}        
    </body>
</html>
