{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit post</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input  class="btn btn-info" type="submit" value="Create" />
    {{ form_end(edit_form) }}
<br/>

    <ul  class="list-unstyled"  style="display: inline-block;">

        <li style="display: inline-block;">
            <a class="btn btn-info" href="{{ path('news_index') }}">Cancel</a>
        </li>

        <li style="display: inline-block;">
            &nbsp;
        </li>
        <li style="display: inline-block;">
            {{ form_start(delete_form) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
