{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <h1>{{ article.title }}</h1>
    <p class="lead"><span class="glyphicon glyphicon-user"></span> {% for w in article.writers %}<strong>{{ w }}</strong>  <strong>{{ w.email | truncate(5)}}</strong>, {% endfor %}
    <p><span class="glyphicon glyphicon-time"></span> Posted on:{% if article.time %}{{ article.time|date('Y-m-d H:i:s') }}{% endif %}</p>

    <hr>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if article.time %}{{ article.time|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ article.location }}</td>
            </tr>
            <tr>
                <th>Post text</th>
                <td>{{ article.body }}</td>
            </tr>
        </tbody>
    </table>
<hr>

{% for w in article.writers %}
<p><strong>{{ w }}</strong> has mail <strong>{{ w.email | truncate(5)}}</strong></p>
{% endfor %}

    <ul>
        <li>
            <a href="{{ path('news_edit', { 'id': article.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
