{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ideja list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ideja in idejas %}
            <tr>
                <td><a href="{{ path('ideja_show', { 'id': ideja.id }) }}">{{ ideja.id }}</a></td>
                <td>{{ ideja.text }}</td>
                <td>{{ ideja.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ideja_show', { 'id': ideja.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ideja_edit', { 'id': ideja.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ideja_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
