{% extends '::base.html.twig' %}

{% block body %}
    <h1>Role</h1>
    <p>Edituj rolu kreiranu at run time</p>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ime</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roles_show', { 'id': role.id }) }}">prikaz</a>
                        </li>
                        <li>
                            <a href="{{ path('roles_edit', { 'id': role.id }) }}">edituj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_new') }}">Napravi novu rolu</a>
        </li>
    </ul>
{% endblock %}
