{% extends '::base.html.twig' %}

{% block body %}
    <h1>Prikaz role</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Ime</th>
                <td>{{ role.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Nazad na listu</a>
        </li>
        <li>
            <a href="{{ path('roles_edit', { 'id': role.id }) }}">Edituj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Obrisi">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
